<% if signed_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script type="text/javascript">
  window.barber = "<%= image_url('barber.jpg') %>";
  window.circleDone = "<%= image_url('circle-icon.png') %>"
  window.stopWatch = "<%=image_url('stopwatch.png')%>"
  window.barberPole1 = "<%=image_url('barber-pole-2.jpg')%>"
  window.barberPole2 = "<%=image_url('barber-pole-2.jpg')%>"
  window.scissors = "<%=image_url('scissors.jpg')%>"

</script>
 

<main id="root"></main>