<!DOCTYPE html>
<html>
  <head>
    <title>John's Barber Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon'/ >
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   

    <link href="https://fonts.googleapis.com/css?family=Khula:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">

    <% if current_barber %>
      <script>
        window.currentBarber = { 
          "id": <%= current_barber.id %>,
          "username": "<%= current_barber.fname %>"
          };
      </script>
    <% else %>
      <script>
        window.currentBarber = null;
      </script>
    <% end %>

    <% if current_client_user %>
      <script>
        window.currentClientBarber = { 
          "id": <%= current_client_user.id %>,
          "username": "<%= current_client_user.fname %>"
          };
      </script>
    <% else %>
      <script>
        window.currentClientBarber = null;
      </script>
    <% end %>

  </head>
  
  <body>
    <%= yield %>
    <script>
      $('.home-link').click( () => {
          location.href = location.origin;
      });
    </script>
  </body>
</html>
